:root {

  --bg-page: #111111;
  --bg-card: #1e1e1e;
  --text: #ffffff;
  --gradient-1: #8b5cf6;
  --gradient-2: #10b981;
  
  --radius-small: 35px;
  --radius-large: 25px;
  --space: 17px;
  
  --transition-time: 0.3s;
  --transition-curve: ease-in-out;
}